- var txt = "Lorem ipsum dolor sit amet consectetur adipisicing elit. In et dicta porro? Veritatis vero dolorem ut at optio corrupti fugit dolore, qui totam aliquid amet debitis mollitia ullam animi quidem exercitationem! Libero quas earum cum molestias iusto!"
- var buttons = ["default", "outlined"];
- var href= "javascript:void(0);";

p= txt
section(class="grid styleguide-buttons col--2")
  .col
    h3 Link

    h4= buttons[0]
    a(href=href class='btn') Link
    a(href=href class='btn radius') Link radius
    a(href=href class='btn rounded') Link rounded
    a(href=href class='btn icon' title="This is a link with icon"): +icon("link", "material-icons")
    a(href=href class='btn radius icon' title="This is a link radius with icon"): +icon("link", "material-icons")
    a(href=href class='btn icon rounded' title="This is a link rounded with icon"): +icon("link", "material-icons")
    a(href=href class='btn')
      +icon("arrow_back", "material-icons")
      span Link icon text
    a(href=href class='btn')
      span Link icon text
      +icon("arrow_forward", "material-icons")
    a(href=href class='btn disabled' tabindex="-1") Link disabled

    h4= buttons[1]
    a(href=href class='btn outlined') Link
    a(href=href class='btn radius outlined') Link radius
    a(href=href class='btn rounded outlined') Link rounded
    a(href=href class='btn icon outlined'): +icon("link", "material-icons")
    a(href=href class='btn radius icon outlined'): +icon("link", "material-icons")
    a(href=href class='btn icon rounded outlined'): +icon("link", "material-icons")
    a(href=href class='btn outlined')
      +icon("arrow_back", "material-icons")
      span Link icon text
    a(href=href class='btn outlined')
      span Link icon text
      +icon("arrow_forward", "material-icons")
    a(href=href class='btn disabled outlined' tabindex="-1") Link disabled

  .col
    h3 button

    h4= buttons[0]
    button(class='btn') Button
    button(class='btn radius') Button radius
    button(class='btn rounded') Button rounded
    button(class='btn icon' aria-label="This is a button with icon"): +icon("link", "material-icons")
    button(class='btn radius icon' aria-label="This is a button radius with icon"): +icon("link", "material-icons")
    button(class='btn icon rounded' aria-label="This is a button rounded with icon"): +icon("link", "material-icons")
    button(class='btn')
      +icon("arrow_back", "material-icons")
      span Button icon text
    button(class='btn')
      span Button icon text
      +icon("arrow_forward", "material-icons")
    button(class='btn disabled' tabindex="-1") Button disabled

    h4= buttons[1]
    button(class='btn outlined') Button
    button(class='btn radius outlined') Button radius
    button(class='btn rounded outlined') Button rounded
    button(class='btn icon outlined' aria-label="This is a button with icon"): +icon("link", "material-icons")
    button(class='btn radius icon outlined' aria-label="This is a button radius with icon"): +icon("link", "material-icons")
    button(class='btn icon rounded outlined' aria-label="This is a button rounded with icon"): +icon("link", "material-icons")
    button(class='btn outlined')
      +icon("arrow_back", "material-icons")
      span Button icon text
    button(class='btn outlined')
      span Button icon text
      +icon("arrow_forward", "material-icons")
    button(class='btn disabled outlined' tabindex="-1") Button disabled
