include ../../utils/mixins
//////////////////////////////////////
// icons are automatically generate in js, all document is parse and each of the icons are clone into this block
////////////////////////////////////

- var txt = "Lorem ipsum dolor sit amet consectetur adipisicing elit. In et dicta porro? Veritatis vero dolorem ut at optio corrupti fugit dolore, qui totam aliquid amet debitis mollitia ullam animi quidem exercitationem! Libero quas earum cum molestias iusto!"

- var NoIcon = "No Icons";
- var typeImplement = ['svg use', 'font face', 'svg unicode'];

- var unicode = typeImplement[2].substr(4);
- var fontface = typeImplement[1].replace(/\s/g, '');

- var custom = librairiesIcons[0];

- var material = librairiesIcons[1].substr(0, librairiesIcons[1].indexOf('-'));

- var fontawesome = librairiesIcons[2].charAt(0)+librairiesIcons[2].charAt(5);
- var faUnicode = fontawesome+unicode;
- var faFontFace = fontawesome+fontface;

- var glyphiconUnicode = librairiesIcons[3]+unicode;
- var glyphiconFontFace = librairiesIcons[3]+fontface;

- var styleguideIconsCat = [custom, material, faFontFace, faUnicode, glyphiconFontFace, glyphiconUnicode];

p= txt
section(class="grid styleguide-icons col--2")
  each librairyIcons, key in librairiesIcons
    - var librairy = librairyIcons.toLowerCase()
    .col
      h3= librairy
      case librairy
        when librairiesIcons[key]
          if(key == 0 || key == 1)
            h4.style-h5= typeImplement[key]
            div(class="grid grid-icons styleguide-icons--"+styleguideIconsCat[key])
              p= NoIcon
          else
            -for(var i = 0; i < 2; i++)
              h4.style-h5= typeImplement[i + 1]
              div(class="grid grid-icons styleguide-icons--"+styleguideIconsCat[key == 2 ? key + i : key + i + 1])
                p= NoIcon


