- var txt = "Lorem ipsum dolor sit amet consectetur adipisicing elit. In et dicta porro? Veritatis vero dolorem ut at optio corrupti fugit dolore, qui totam aliquid amet debitis mollitia ullam animi quidem exercitationem! Libero quas earum cum molestias iusto!"
- var methods = ["srcset", "html", "css"]

p= txt
section(class="grid styleguide-imgs col--1")
  each method in methods
    .col
      h3= method
      if method === 'srcset'
        - var srcsets = ["img", "picture", "css"]
        - var sizes = [208, 203, 200];
        - var heightImageSrcSet = 250;
        - var extImageSrcSet = 'jpg';
        - var imageSrcset = "https://via.placeholder.com/"+sizes[0]+"x"+heightImageSrcSet+"."+extImageSrcSet+'/F4F6FA/bec8db'
        - var srcSet = imageSrcset +' '+ sizes[0]+"w, https://via.placeholder.com/"+sizes[1]+"x"+heightImageSrcSet+"."+extImageSrcSet+" "+sizes[1]+"w, https://via.placeholder.com/"+sizes[2]+"x"+heightImageSrcSet+"."+extImageSrcSet+" "+sizes[2]+"w";

        section(class="grid styleguide-imgs--"+method+" col--"+sizes.length)
          each srcset in srcsets
            .col
              h4= srcset
              case srcset
                when "img"
                  +img-src(imageSrcset, false, "image srcset", sizes[1], heightImageSrcSet, false, srcSet, '100w')

                when "picture"
                  +img-src(imageSrcset, true, "image picture srcset", sizes[1], heightImageSrcSet, false, srcSet, '100w', extImageSrcSet)

                when "css"
                  .img
      else
        - var extensions = ["jpg", "png", "gif", "svg", "webp", "data-uri"]

        if method === 'html'
          section(class="grid grid-imgs styleguide-imgs--"+method)
            each extension in extensions
              .col
                h4= extension
                case extension
                  when "jpg"
                    - var originalImgJpg = require("../"+imgDir+"image.jpg").src
                    +img-src(originalImgJpg)

                  when "png"
                    - var originalImgPng = require("../"+imgDir+"image.png").src
                    +img-src(originalImgPng, true)

                  when "gif"
                    +img-src(imgDir+"image.gif")

                  when "svg"
                    +img-src(imgDir+"image.svg", true, ' ', ' ', false)

                  when "webp"
                    - var originalImgWebp = require("../"+imgDir+"image.webp").src
                    +img-src(originalImgWebp, true)

                  when "data-uri"
                    - var originalImgDataUri = require("../"+imgDir+"image.jpg").placeholder
                    +img-src(originalImgDataUri, false, " ", 40, 30, false)

        if method === 'css'
          section(class="grid grid-imgs styleguide-imgs--"+method)
            each extension in extensions
              .col
                h4= extension
                .img
