append vars

- var txt = "Call any jpg, png or webp images like this in your pug files: <code>require(imgDir+\"image.ext\").src</code>. If you want to use a data-uri image, just call it this way: <code>require(imgDir+\"image.ext\").placeholder</code>. Thanks to <code>responsive-loader</code> package in <code>webpack.config.js</code>, we automatically generate the differents images in the good srcset dimensions. You can also params the quality of your images with <code>ImageminPlugin</code>. TEXT LAZYLOAD"
- var methods = ["html", "css", "srcset"]
- var extensions = ["jpg", "png", "gif", "svg", "webp", "uri"]

.styleguide-infos
  p!= txt
section(class="grid styleguide-imgs col--1")
  each method in methods
    .col
      h3= method
      case method

        when "html"
          section(class="grid col--6 styleguide-imgs--"+method)

            each extension in extensions
              .col
                h4= extension
                case extension
                  when "jpg"
                    img(src=require("../"+imgDir+"image.jpg").src alt="image jpg")

                  when "png"
                    img(src=require("../"+imgDir+"image.png").src alt="image png")

                  when "gif"
                    img(src=imgDir+"image.gif" alt="image gif")

                  when "svg"
                    img(src=imgDir+"image.svg" alt="image svg")

                  when "webp"
                    img(src=require("../"+imgDir+"image.webp").src alt="image webp")

                  when "uri"
                    img(src=require("../"+imgDir+"image.jpg").placeholder alt="image data-uri")

        when "css"
          section(class="grid col--6 styleguide-imgs--"+method)
            each extension in extensions
              .col
                h4= extension
                .img

        when "srcset"
          - const srcsets = ["img", "picture", "background-image"]
          - var urlImg = "https://via.placeholder.com/"
          - var originalSizeImg = 1600;
          - var heightImageSrcSet = 200;
          - var extImageSrcSet = 'jpg';
          - var colorImg = "/F4F6FA/bec8db"
          - var endUrl = "x"+heightImageSrcSet+"."+extImageSrcSet+colorImg

          section(class="grid styleguide-imgs--"+method+" col--1")
            each srcset in srcsets
              .col
                h4= srcset
                case srcset

                  when "img"
                    - var arrBreakpointsImgs = [320, 480, 768, 1600]
                    - var arrSizesImgs = [208, 368, 656, 912]
                    img(srcset=urlImg+arrSizesImgs[0]+endUrl+" "+arrSizesImgs[0]+"w, "+urlImg+arrSizesImgs[1]+endUrl+" "+arrSizesImgs[1]+"w, "+urlImg+arrSizesImgs[2]+endUrl+" "+arrSizesImgs[2]+"w, "+urlImg+arrSizesImgs[3]+endUrl+" "+arrSizesImgs[3]+"w, "+urlImg+originalSizeImg+endUrl+" "+originalSizeImg+"w" sizes="(max-width: "+arrBreakpointsImgs[0]+"px) "+arrBreakpointsImgs[0]+"px, (max-width: "+arrBreakpointsImgs[1]+"px) "+arrSizesImgs[1]+"px, (max-width: "+arrBreakpointsImgs[2]+"px) "+arrSizesImgs[2]+"px, (max-width: "+arrBreakpointsImgs[3]+"px) "+arrSizesImgs[3]+"px, "+arrBreakpointsImgs[3]+"px" src=urlImg+originalSizeImg+endUrl alt="example img implementation")

                  when "picture"
                    - var valuesSizes = { 320 : 208 , 480 : 368, 768 : 656, 1600 : 912}
                    picture
                      each val, key in valuesSizes
                        source(media="(max-width: "+key+"px)" srcset=urlImg+val+endUrl type="image/"+extImageSrcSet)
                      img(src=urlImg+originalSizeImg+endUrl alt="example picture implementation")

                  when "background-image"
                    .img
