

extends ../includes/layout/default

include ../utils/icons

append head

append vars
  - var documentTitle = "Marvin Starter - Styleguide"

append main

  a(href="./index.html") back to starter

  //- .styleguide-title Marvin-Starter

  //- h1 Title level 1
  //- h2 Title level 2
  //- h3 Title level 3
  //- h4 Title level 4
  //- h5 Title level 5
  //- h6 Title level 6


  // Bootstrap glyphicons classes
  i.glyphicon.glyphicon-cloud
  i.glyphicon.glyphicon-remove
  i.glyphicon.glyphicon-user
  i.glyphicon.glyphicon-envelope
  i.glyphicon.glyphicon-thumbs-up
  // font-awesome classes
  i.fa.fa-spinner.fa-spin
  i.fa.fa-circle-o-notch.fa-spin
  i.fa.fa-refresh.fa-spin
  i.fa.fa-cog.fa-spin
  i.fa.fa-spinner.fa-pulse
  //- i.fa.fa-car.fa-4x.fa-stack-2x
  // material-design-icons class and contents
  i.material-icons cloud
  i.material-icons favorite
  i.material-icons attachment
  i.material-icons computer
  i.material-icons traffic



  .styleguide-grid
    .col
      p img html jpg
      picture
        source(srcset=imgDir + "image-320.jpg 320w, "+imgDir+"image-1120.jpg 1120w, "+imgDir+"image-1920.jpg 1920w" type='image/jpg')
        img(src=imgDir + "image.jpg" srcset=imgDir+"image-320.jpg 320w, "+imgDir+"image-1120.jpg 1120w, "+imgDir+"image-1920.jpg 1920w" sizes='100vw' alt="")
    .col
      p img html png
        picture
          source(srcset="" media="")
          img(src=imgDir + "image-100.png" alt="")
    .col
      p img html gif
        picture
          source(srcset="" media="")
          img(src=imgDir + "image.gif" alt="")
    .col
      p img html svg
        picture
          source(srcset="" media="")
          img(src=imgDir + "image.svg" alt="")
    .col
      p img html data URI
        picture
          source(srcset="" media="")
          img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAwFBMVEXm7NK41k3w8fDv7+q01Tyy0zqv0DeqyjOszDWnxjClxC6iwCu11z6y1DvA2WbY4rCAmSXO3JZDTxOiwC3q7tyryzTs7uSqyi6tzTCmxSukwi9aaxkWGga+3FLv8Ozh6MTT36MrMwywyVBziSC01TbT5ZW9z3Xi6Mq2y2Xu8Oioxy7f572qxzvI33Tb6KvR35ilwTmvykiwzzvV36/G2IPw8O++02+btyepyDKvzzifvSmw0TmtzTbw8PAAAADx8fEC59dUAAAA50lEQVQYV13RaXPCIBAG4FiVqlhyX5o23vfVqUq6mvD//1XZJY5T9xPzzLuwgKXKslQvZSG+6UXgCnFePtBE7e/ivXP/nRvUUl7UqNclvO3rpLqofPDAD8xiu2pOntjamqRy/RqZxs81oeVzwpCwfyA8A+8mLKFku9XfI0YnSKXnSYZ7ahSII+AwrqoMmEFKriAeVrqGM4O4Z+ADZIhjg3R6LtMpWuW0ERs5zunKVHdnnnMLNQqaUS0kyKkjE1aE98b8y9x9JYHH8aZXFMKO6JFMEvhucj3Wj0kY2D92HlHbE/9Vk77mD6srRZqmVEAZAAAAAElFTkSuQmCC" alt="")
    .col
      p img css jpg
      .img
    .col
      p img css png
      .img
    .col
      p img css gif
      .img
    .col
      p img css svg
      .img
    .col
      p img css data uri
      .img

    //- .col
    //-   p img html jpg
    //-   picture
    //-     source(srcSet={responsiveImage.srcSet} type='image/jpg')
    //-     //- img(src={responsiveImage.src} srcSet={responsiveImage.srcSet} width={responsiveImage.width} height={responsiveImage.height} sizes='(min-width: 1024px) 1024px, 100vw' loading="lazy")


