mixin burger-svg()
  - var lengthBurger = 40
  - var widthLine = 23
  - var heightLine = 4
  - var spaceLines = 3
  - var space = heightLine + spaceLines
  - var positionTop = lengthBurger/2 - (heightLine*3 + spaceLines*2) / 2
  - var positionLeft = lengthBurger/2 - widthLine/2
  svg(aria-hidden="true" role="button" viewBox='0 0 '+lengthBurger+' '+lengthBurger+'' style='enable-background:new 0 0 '+lengthBurger+' '+lengthBurger+';' preserveAspectRatio='xMidYMid meet')
    g(aria-hidden="true")
      - for(var i=0; i < 3; i++)
        rect(aria-hidden="true" x=Math.round(positionLeft) y='' + (i * space + positionTop) + '' width=widthLine height=heightLine)
    g(aria-hidden="true"): text(opacity="0") open menu

mixin logo-svg()
  - for(var i=0; i < 2; i++)
    .logo-wrap
      svg(aria-hidden="true" viewBox='0 0 48 48' preserveAspectRatio='xMidYMid meet' xml:space="preserve")
        g(aria-hidden="true")
          path(aria-hidden="true" d="M27.2893 20.7107H48V48H20.467V41.1777H41.1777V37.7665H20.467V30.9442H41.1777V27.533H20.467V6.82233H17.0558V27.533H10.2335V6.82233H6.82233V27.533H0V0H27.2893V20.7107Z")


mixin description-svg()
  - var widthDescription = 157
  - var heightDescription = 22
  - var dy = 17
  svg(aria-hidden="true" width=widthDescription height=heightDescription viewBox='0 0 '+widthDescription+' '+heightDescription+'' style='enable-background:new 0 0 '+widthDescription+' '+heightDescription+';' preserveAspectRatio='xMidYMid meet' xml:space="preserve"): g(aria-hidden="true")
    defs
      mask#mask-description
        rect
        text(x=5 y=0 dx=0, dy=dy text-anchor="start" letter-spacing="0.35") marvin
        text(x=73 y=0 dx=0, dy=dy text-anchor="start" letter-spacing="0.35") starter
    rect(aria-hidden="true" mask="url(#mask-description)")

