mixin burger-svg()
  - var lengthBurger = 40
  - var widthLine = 22
  - var heightLine = 3
  - var spaceLines = 4
  - var space = heightLine + spaceLines
  - var positionTop = lengthBurger/2 - (heightLine*3 + spaceLines*2) / 2
  - var positionLeft = lengthBurger/2 - widthLine/2
  svg(aria-hidden="true" role="button" viewBox='0 0 '+lengthBurger+' '+lengthBurger+'' style='enable-background:new 0 0 '+lengthBurger+' '+lengthBurger+';' preserveAspectRatio='xMidYMid meet')
    g(aria-hidden="true")
      - for(var i=0; i < 3; i++)
          rect(aria-hidden="true" x=positionLeft y='' + (i * space + positionTop) + '' width=widthLine height=heightLine)
    g(aria-hidden="true"): text(opacity="0") open menu


mixin logo-svg()
  - var lenghtLogo = 40
  - for(var i=0; i < 2; i++)
    svg(aria-hidden="true" viewBox='0 0 '+lenghtLogo+' '+lenghtLogo+'' style='enable-background:new 0 0 '+lenghtLogo+' '+lenghtLogo+';' preserveAspectRatio='xMidYMid meet'  xml:space="preserve"): g(aria-hidden="true")
        path(aria-hidden="true" d="M22,18V0H0v22h4.1V3.9h4.9V13h3.9V4.1H18V40h22V18H22z M36.1,27H27v4.1h9.1v5H22V22h14.1V27z")


mixin description-svg()
  - var widthDescription = 152
  - var heightDescription = 22
  - var fontSizeDescription = 17
  - var dy = 17
  svg(aria-hidden="true" width=widthDescription height=heightDescription viewBox='0 0 '+widthDescription+' '+heightDescription+'' style='enable-background:new 0 0 '+widthDescription+' '+heightDescription+';' preserveAspectRatio='xMidYMid meet' xml:space="preserve"): g
    defs
      mask#mask-description
        rect
        text(x='50%' y=0 dx=0, dy=dy text-anchor="middle" font-size=fontSizeDescription) marvin
          tspan starter
    rect(aria-hidden="true" mask="url(#mask-description)")

